---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
let backgroundUrl = `url()`
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="pt-20">
			<article>
				<div class="container px-6 mx-auto mb-6 uppercase font-display font-medium text-custom-dark">
					<a href="/blog">blog</a>
					<span class="opacity-70">&gt; {title}
					</span>

				</div>
				
				<div class="-mb-px separator">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 25" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" transform="matrix(1,0,0,-1,0,0)"><path d="M 0 0 v 1 l 500 24 l 500 -24 V 0 H 0 z" fill="#383838"></path></svg>
				</div>
				<section class="h-fit pb-1 bg-custom-dark text-custom-light font-body text-lg text-justify mt-0 pt-3" id="blog-section">
					<div class="flex flex-row justify-center items-center container px-6 mx-auto">
						<div class="grayscale mb-14 w-full h-60 translate-x-10 bg-custom-dark" style={`background-image: url(${heroImage}); background-size: cover; background-repeat: no-repeat; clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);`}>
						</div>
					</div>
					<div class="container mx-auto px-6">
						<div class="flex items-center gap-3 mb-8">
							<h2 class="font-display text-3xl text-custom-light uppercase"><span class="opacity-30">&gt;</span> {title}</h2>
							<div style="height: 2px" class="flex-grow bg-custom-light opacity-30"/>
							<span class="date font-display font-medium text-lg text-custom-light opacity-75">
								<FormattedDate date={pubDate} />
								{
									updatedDate && (
										<div class="last-updated-on">
											Last updated on <FormattedDate date={updatedDate} />
										</div>
									)
								}</span>
						</div>
						<slot />
					</div>
				</section>
				<div class="-mb-px separator">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 620 25">
						<path d="M 0 0 v 20 L 310 5 l 310 20 V 0 H 0 z" fill="#383838"/>
					</svg>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
